<div class="row">
  <div class="col-sm">
    <div class="student-achievement">
      <div class="icon">📝</div>
      <div>
        <div class="counter">0</div>
        <div class="label">Vokabelaufgaben bearbeitet</div>
      </div>
    </div>
  </div>
  <div class="col-sm">
    <div class="student-achievement">
      <div class="icon">📈</div>
      <div>
        <div class="counter">0</div>
        <div class="label">Richtig gelöste Vokabelaufgaben</div>
      </div>
    </div>
  </div>
  <div class="col-sm">
    <div class="student-achievement">
      <div class="icon">🎤</div>
      <div>
        <div class="counter">0</div>
        <div class="label">Sprechaufgaben bearbeitet</div>
      </div>
    </div>
  </div>
  <div class="col-sm">
    <div class="student-achievement">
      <div class="icon">🗣</div>
      <div>
        <div class="counter">0</div>
        <div class="label">Wörter gesprochen</div>
      </div>
    </div>
  </div>
</div>
