.student-header {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  height: 87px;
  margin-bottom: 60px;

  .container {
    position: relative;
  }

  .student-info {
    position: absolute;
    margin-top: -30px;
    @include flex-row(flex-start, center);

    .avatar-container {
      width: 144px;
      height: 144px;
      border-radius: 72px;
      background-color: #fff;
    }

    .user-name {
      font-weight: 500;
      font-size: 40px;
      margin-left: 23px;
    }
  }

  .student-points {
    position: absolute;
    right: 0;
    top: 23px;

    $color: #00CE64;

    height: 42px;
    color: $color;
    background-color: rgba($color, .1);
    text-align: center;
    border-radius: 27px;
    padding: 0 20px;

    @include flex-row(space-around, center);

    .count {
      font-size: 35px;
    }
    .label {
      font-size: 18px;
      font-weight: 500;
      margin-left: 15px;
    }
  }
}

.student-achievement {
  @include flex-row;
  margin-bottom: 20px;
  @include card;

  .icon {
    font-size: 40px;
    color: #999;
    margin-right: 20px;
  }

  .counter {
    font-size: 35px;
    color: #F79619;
  }

  .label {
    color: #999;
    font-size: 16px;
    max-width: 120px;

    @include media-breakpoint-down(md) {
      margin-left: -60px;
    }
  }
}

.student-info-card {
  @include card;
  @include flex-row(space-between, center);
  margin-bottom: 35px;
  min-height: 130px;
  font-size: 20px;

  .message {
    color: #999;
  }

  .right {
    strong {
      margin: 0 20px;
    }

    span {
      vertical-align: middle;
    }

    .refresh {
      @include img-icon("refresh.png", 26px, 26px);
      vertical-align: middle;
    }
  }
}
