.student-header {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  height: 87px;
  margin-bottom: 60px;

  .container {
    position: relative;
  }

  .student-info {
    position: absolute;
    margin-top: -30px;
    display: flex;
    flex-direction: row;
    align-items: center;

    .avatar-container {
      width: 144px;
      height: 144px;
      border-radius: 72px;
      background-color: #fff;
    }

    .user-name {
      font-weight: 500;
      font-size: 40px;
      margin-left: 23px;
    }
  }

  .student-points {
    position: absolute;
    right: 0;
    top: 23px;

    $color: #00CE64;

    height: 42px;
    color: $color;
    background-color: rgba($color, .1);
    text-align: center;
    border-radius: 27px;
    padding: 0 20px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    .count {
      font-size: 35px;
    }
    .label {
      font-size: 18px;
      font-weight: 500;
      margin-left: 15px;
    }
  }
}

.student-achievement {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, .1);
  padding: 20px;
  margin-bottom: 20px;

  .icon {
    font-size: 40px;
    color: #999;
    margin-right: 20px;
  }

  .counter {
    font-size: 35px;
    color: #F79619;
  }

  .label {
    color: #999;
    font-size: 16px;
    max-width: 120px;

    @include media-breakpoint-down(md) {
      margin-left: -60px;
    }
  }
}
