header, .navbar {
  background-color: #fff;
}

.navbar {
  .navbar-brand {
    height: 33px;
    width: 33px;
    background-color: $brand-color;
    color: #FEFEFE;
    font-weight: bold;
    font-size: 34px;
    line-height: 21px;
    text-align: center;
  }

  .nav-item > .nav-link {
    margin-top: 4px;
  }

  .nav-item.active > .nav-link {
    border-bottom: 4px solid $navbar-active-link-border-color;
  }

  .navbar-nav {
    justify-content: space-between;

    @include media-breakpoint-up(lg) {
      width: 650px;
    }
  }
}

.user-account-icon {
  display: inline-block;
  background: url("../icons/account-icon.png") center/contain no-repeat;
  height: 22px;
  width: 19px;
}

.page-header {
  height: 162px;
  background: linear-gradient(179.18deg, #FFB640 0%, #FF8A07 100%);
}

