// Project variables
$brand-color: #DE2922;
$navbar-active-link-border-color: #1A73E8;

// Bootstrap overwrites
$font-family-base: "CV_Source_Sans";

$navbar-padding-y: 0;
$navbar-light-brand-hover-color: #FEFEFE;
$navbar-light-color: #666;
$navbar-light-active-color: #297CEA;
$navbar-light-hover-color: $navbar-light-active-color;
