<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{ .Title }}</title>
	{{ with .Site.Params.description }}
	<meta name="description" content="{{ . }}">{{ end }}
	{{ with .Site.Params.author }}
	<meta name="author" content="{{ . }}">{{ end }}
	{{ $style := resources.Get "/sass/main.scss" | toCSS | minify | fingerprint }}
	<link rel="stylesheet" href="{{ $style.RelPermalink }}">
</head>

<body>
	{{ partial "header" . }}
	{{ block "main" . }}{{ end }}

	<!-- Concatenate and minify js assets -->
	{{ $jquery := resources.Get "js/vendor/jquery.min.js" }}
	{{ $bootstrap := resources.Get "js/vendor/bootstrap.min.js" }}
	{{ $js := slice $jquery $bootstrap | resources.Concat "js/bundle.js" | resources.Minify }}
	<script src="{{$js.RelPermalink}}"></script>
</body>

</html>
